# ${DATA_PATH_NINA}: path/to/network/data/
# ${DATA_PATH_LOCAL}: path/to/offline/data/
# stored in user-dir/.env

# ----------------------------
# DATA CATALOG
# ----------------------------

# GENERAL DATA
admin:
  type: filegdb
  filepath: ${DATA_PATH_LOCAL}/data/<<municipality>>/general/<<municipality>>_admindata.gdb
  fc:
    - analyseomrade
    - analyseomrade_buffer200
    - bydeler
    - grunnkretser
    - kommune

neighbourhood:
    type: featureclass
    filepath: ${DATA_PATH_LOCAL}/data/<<municipality>>/general/<<municipality>>_admindata.gdb/bydeler
    key: "bydelnummer"

lookup_fields:
    type: excel
    filepath: ${DATA_PATH_LOCAL}/data/lookup_tables/lookup_attribute_fields.xlsx
    sheet_names:
        - complete_fields
        - crowns_table
        - itree_resultater_fields
        - itree_trekroner_fields
        - oslo_fields
        - stems_table
        - traer_fields
        - trekroner_fields

lookup_species:
    type: excel
    filepath: ${DATA_PATH_LOCAL}/data/lookup_tables/lookup_tree_species.xlsx
    sheet_names:
        - itree_species_lookup
        - naturtype_lookup

# RAW DATA (input to integration pipeline)
raw_in_situ_trees:
    type: featureclass
    filepath: ${DATA_PATH_LOCAL}/data/<<municipality>>/itree-support-tools/raw/<<municipality>>_insitu_bytraer.gdb/itree_traer
    fields:
        bodo:
            - GlobalID
            - OBJECTID
            - Shape
            - bydelnummer
            - stem_id
            - Treslag
            - Kommentar_Treslag
            - Omkrets
            - Høyde
            - Sted
            - Registreringsdato
            - Creator_1
            - Kommentar
        baerum:
            - OBJECTID
            - Shape
            - naturtype
            - stammeomkrets
            - omradenavn
            - kartleggingsdato
            - kartlegger
        kristiansand:
            - GlobalID
            - OBJECTID
            - Shape
            - bydelnummer
            - stem_id
            - id
            - botanisk_n
            - art
            - stammeomkr
            - DBH
            - hoyde
            - kronebredd
            - datafangst
            - registrert
            - kommentar

raw_laser_trekroner:
    type: featureclass
    filepath: ${DATA_PATH_LOCAL}/data/<<municipality>>/itree-support-tools/raw/<<municipality>>_laser_bytraer.gdb/trekroner

# INTERIM DATA (integration pipeline)
interim_input_stems:
    type: filegdb
    filepath: ${DATA_PATH_LOCAL}/data/<<municipality>>/itree-support-tools/interim/input_stems.gdb
    fc:
        - stems_in_situ

interim_input_crowns:
    type: filegdb
    filepath: ${DATA_PATH_LOCAL}/data/<<municipality>>/itree-support-tools/interim/input_crowns.gdb

geo_relation_round_1:
    type: filegdb
    filepath: ${DATA_PATH_LOCAL}/data/<<municipality>>/itree-support-tools/interim/geo_relation/merge_round_1.gdb
    fc:
        - crowns_round_1

geo_relation_round_2:
    type: filegdb
    filepath: ${DATA_PATH_LOCAL}/data/<<municipality>>/itree-support-tools/interim/geo_relation/merge_round_2.gdb
    fc:
        - crowns_in_situ
        - crowns_all
        - tops_all
    
geo_relation:
    type: filegdb
    filepath: ${DATA_PATH_LOCAL}/data/<<municipality>>/itree-support-tools/interim/geo_relation.gdb
    fc: 
        - crowns_in_situ
        - crowns_all
        - stems_in_situ
        - tops_all 
        - crowns_not_detected

# INTERIM DATA (input attribute pipeline)
attr_input:
    type: filegdb
    filepath: ${DATA_PATH_LOCAL}/data/<<municipality>>/itree-support-tools/interim/input_attribute_calculation.gdb
    fc:
        - crowns_in_situ
        - crowns_all
        - stems_in_situ
    description: input to attribute computation

attr_overlay:
    type: filegdb
    filepath: ${DATA_PATH_LOCAL}/data/<<municipality>>/itree-support-tools/interim/attributes/attr_overlay.gdb
    description: attributes computed in overlay pipeline

attr_tree:
    type: filegdb
    filepath: ${DATA_PATH_LOCAL}/data/<<municipality>>/itree-support-tools/interim/attributes/attr_tree.gdb
    description: attributes computed in tree pipeline

attr_building_distance:
    type: filegdb
    filepath: ${DATA_PATH_LOCAL}/data/<<municipality>>/itree-support-tools/interim/attributes/attr_building_distance.gdb
    description: attributes computed in building_distance.py module

attr_cle:
    type: filegdb
    filepath: ${DATA_PATH_LOCAL}/data/<<municipality>>/itree-support-tools/interim/attributes/attr_cle.gdb
    description: attributes computed in cle.py module 

# INPUT DATA (input to extrapolation pipeline)
# output from i-Tree Eco, manually cleaned and processed
# output from urban-tree-detection, manually cleaned and processed

oslo_extrapolation:
    raw_trees: 
        type: csv, parquet
        filepath_csv: ${TREKRONER}/data/oslo/general/CSV/oslo_registered_trees.csv
        filepath_parquet: ${TREKRONER}/data/oslo/general/PARQUET/oslo_registered_trees.parquet
    raw_crowns:
        type: csv, parquet
        filepath_csv: ${TREKRONER}/data/oslo/general/CSV/oslo_tree_crowns.csv
        filepath_parquet: ${TREKRONER}/data/oslo/general/CSV/extrapolation/oslo_target_tree_crowns.parquet
        filepath_geojson: ${TREKRONER}/data/oslo/general/GEOJSON/oslo_tree_crowns.geojson
    lookup:
        type: excel
        filepath: ${TREKRONER}/data/lookup_tables/lookup_attribute_fields.xlsx
        sheet_name: oslo_fields
    species_summary:
        type: csv, img   
        filepath: ${TREKRONER}/data/oslo/general/CSV/extrapolation/oslo_reference_species_summary.csv
        img_path: ${TREKRONER}/data/oslo/general/CSV/extrapolation/img/oslo_species_summary_plot.png
    reference:
        type: csv
        filepath_csv: ${TREKRONER}/data/oslo/general/CSV/extrapolation/oslo_reference_trees.csv
    target: 
        type: csv, parquet
        filepath_csv: ${TREKRONER}/data/oslo/general/CSV/extrapolation/oslo_target_tree_crowns.csv
        filepath_parquet: ${TREKRONER}/data/oslo/general/CSV/extrapolation/oslo_target_tree_crowns.parquet
    model:
        type: csv, img, pickle
        filepath_json: ${TREKRONER}/data/oslo/general/CSV/extrapolation/model
        filepath_pickle: ${TREKRONER}/data/oslo/general/CSV/extrapolation/model
        filepath_img: ${TREKRONER}/data/oslo/general/CSV/extrapolation/img
    output:
        filepath_csv: ${TREKRONER}/data/oslo/general/CSV/extrapolation/output
        filepath_geojson: ${TREKRONER}/data/oslo/general/CSV/extrapolation/output
        
baerum_extrapolation:
    # USES OSLO REF DATA
    raw_trees: 
        type: csv, parquet
        filepath_csv: ${TREKRONER}/data/oslo/general/CSV/oslo_registered_trees.csv
        filepath_parquet: ${TREKRONER}/data/oslo/general/PARQUET/oslo_registered_trees.parquet
    raw_crowns:
        type: csv, parquet
        filepath_csv: ${TREKRONER}/data/baerum/general/CSV/baerum_tree_crowns.csv
        filepath_parquet: ${TREKRONER}/data/baerum/general/CSV/extrapolation/baerum_target_tree_crowns.parquet
        filepath_geojson: ${TREKRONER}/data/baerum/general/GEOJSON/baerum_tree_crowns.geojson
    # USES OSLO SPECIES SUMMARY
    species_summary:
        type: csv, img   
        filepath: ${TREKRONER}/data/oslo/general/CSV/extrapolation/oslo_reference_species_summary.csv
        img_path: ${TREKRONER}/data/oslo/general/CSV/extrapolation/img/oslo_species_summary_plot.png
    reference:
        type: csv
        filepath_csv: ${TREKRONER}/data/oslo/general/CSV/extrapolation/oslo_reference_trees.csv
    target: 
        type: csv, parquet
        filepath_csv: ${TREKRONER}/data/baerum/general/CSV/extrapolation/baerum_target_tree_crowns.csv
        filepath_parquet: ${TREKRONER}/data/baerum/general/CSV/extrapolation/baerum_target_tree_crowns.parquet
    # USES OSLO MODEL 
    model:
        type: csv, img, pickle
        filepath_json: ${TREKRONER}/data/oslo/general/CSV/extrapolation/model
        filepath_pickle: ${TREKRONER}/data/oslo/general/CSV/extrapolation/model
        filepath_img: ${TREKRONER}/data/oslo/general/CSV/extrapolation/img
    output:
        filepath_csv: ${TREKRONER}/data/baerum/general/CSV/extrapolation/output
        filepath_geojson: ${TREKRONER}/data/baerum/general/CSV/extrapolation/output

bodo_extrapolation:
    raw_trees: 
        type: csv, parquet
        filepath_csv: ${TREKRONER}/data/bodo/general/CSV/bodo_registered_trees.csv
        filepath_parquet: ${TREKRONER}/data/bodo/general/PARQUET/bodo_registered_trees.parquet
    raw_crowns:
        type: csv, parquet
        filepath_csv: ${TREKRONER}/data/bodo/general/CSV/bodo_tree_crowns.csv
        filepath_parquet: ${TREKRONER}/data/bodo/general/CSV/extrapolation/bodo_target_tree_crowns.parquet
        filepath_geojson: ${TREKRONER}/data/bodo/general/GEOJSON/bodo_tree_crowns.geojson
    species_summary:
        type: csv, img   
        filepath: ${TREKRONER}/data/bodo/general/CSV/extrapolation/bodo_reference_species_summary.csv
        img_path: ${TREKRONER}/data/bodo/general/CSV/extrapolation/img/bodo_species_summary_plot.png
    reference:
        type: csv
        filepath_csv: ${TREKRONER}/data/bodo/general/CSV/extrapolation/bodo_reference_trees.csv
    target: 
        type: csv, parquet
        filepath_csv: ${TREKRONER}/data/bodo/general/CSV/extrapolation/bodo_target_tree_crowns.csv
        filepath_parquet: ${TREKRONER}/data/bodo/general/CSV/extrapolation/bodo_target_tree_crowns.parquet
    model:
        type: csv, img, pickle
        filepath_json: ${TREKRONER}/data/bodo/general/CSV/extrapolation/model
        filepath_pickle: ${TREKRONER}/data/bodo/general/CSV/extrapolation/model
        filepath_img: ${TREKRONER}/data/bodo/general/CSV/extrapolation/img
    output:
        filepath_csv: ${TREKRONER}/data/bodo/general/CSV/extrapolation/output
        filepath_geojson: ${TREKRONER}/data/bodo/general/CSV/extrapolation/output

kristiansand_extrapolation:
    raw_trees: 
        type: csv, parquet
        filepath_csv: ${TREKRONER}/data/kristiansand/general/CSV/kristiansand_registered_trees.csv
        filepath_parquet: ${TREKRONER}/data/kristiansand/general/PARQUET/kristiansand_registered_trees.parquet
    raw_crowns:
        type: csv, parquet
        filepath_csv: ${TREKRONER}/data/kristiansand/general/CSV/kristiansand_tree_crowns.csv
        filepath_parquet: ${TREKRONER}/data/kristiansand/general/CSV/extrapolation/kristiansand_target_tree_crowns.parquet
        filepath_geojson: ${TREKRONER}/data/kristiansand/general/GEOJSON/kristiansand_tree_crowns.geojson
    species_summary:
        type: csv, img   
        filepath: ${TREKRONER}/data/kristiansand/general/CSV/extrapolation/kristiansand_reference_species_summary.csv
        img_path: ${TREKRONER}/data/kristiansand/general/CSV/extrapolation/img/kristiansand_species_summary_plot.png
    reference:
        type: csv
        filepath_csv: ${TREKRONER}/data/kristiansand/general/CSV/extrapolation/kristiansand_reference_trees.csv
    target: 
        type: csv, parquet
        filepath_csv: ${TREKRONER}/data/kristiansand/general/CSV/extrapolation/kristiansand_target_tree_crowns.csv
        filepath_parquet: ${TREKRONER}/data/kristiansand/general/CSV/extrapolation/kristiansand_target_tree_crowns.parquet
    model:
        type: csv, img, pickle
        filepath_json: ${TREKRONER}/data/kristiansand/general/CSV/extrapolation/model
        filepath_pickle: ${TREKRONER}/data/kristiansand/general/CSV/extrapolation/model
        filepath_img: ${TREKRONER}/data/kristiansand/general/CSV/extrapolation/img
    output:
        filepath_csv: ${TREKRONER}/data/kristiansand/general/CSV/extrapolation/output
        filepath_geojson: ${TREKRONER}/data/kristiansand/general/CSV/extrapolation/output


reference_oslo:
    type: excel
    filepath: ${TREKRONER}/data/<<municipality>>/itree-support-tools/interim/extrapolation/reference_oslo.xlsx
    sheet_names:
        - metadata
        - reference_data

reference_municipality:
    type: excel
    filepath: ${TREKRONER}/data/<<municipality>>/general/CSV/extrapolation/reference_<<municipality>>.xlsx
    sheet_names:
        - metadata
        - reference_data
        - unique_species

target_municipality:
    type: excel
    filepath: ${TREKRONER}/data/<<municipality>>/itree-support-tools/interim/extrapolation/<<municipality>>_target_tree_crowns.xlsx
    sheet_names:
        - metadata
        - target_data

# OUTPUT DATA (end result from integration, attribute pipelines, i-tree eco modelling, and extrapolation)
extrapolated_values:
    type: csv
    filepath: ${TREKRONER}/data/<<municipality>>/itree-support-tools/processed/<<municipality>>_extrapolated_values.csv

tree_db:
    type: filegdb
    filepath: ${DATA_PATH_LOCAL}/data/<<municipality>>/general/<<municipality>>_traer/<<municipality>>_bytraer.gdb
    fc:
        - itree_resultater
        - registrerte_traer 
        - registrerte_trekroner
        - trekroner
        - trekroner_xy 

# ----------------------------
# METADATA
# ----------------------------

metadata:
    filepath: path/to/metadata
    identification:
        title:
            en: english title
            no: norwegian title (bokmål)
        description:
            en: english title
            no: norwegian title (bokmål)
        keywords:
            en:
                - spatial data
            no:
                - romlige data
        keywords_type: theme
        terms_of_service: https://opensource.org/license/mit/
        url: http://example.org
    license:
        name: The MIT License (MIT)
        url: https://opensource.org/license/mit/
    provider:
        name: Organization Name
        url: http://example.org
    contact:
        name: Lastname, Firstname
        position: Position Title
        address: Mailing Address
        city: City
        stateorprovince: Administrative Area
        postalcode: Zip or Postal Code
        country: Country
        phone: +xx-xxx-xxx-xxxx
        email: you@example.org
        url: Contact URL
        hours: Hours of Service
        instructions: During hours of service.  Off on weekends.
        role: pointOfContact


